body {

}

/* MAP */

#map {
    height: 82vh;
    width: 100%;
    background-color: #ffffff;
    border: solid 4px #3daee9;
    border-radius: 15px;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

/* TITLE */

#title-container {
    text-align: center;
}

#title-text {
    font-weight: bold;
}

.item-container {
    background-color: #d9f1ff;
    border: solid 2px #badaff;
    border-radius: 15px;
    margin-top: 0.5vh;
}

/* TIME SLIDER */

#time-slider-panel {
    height: 6vh;
    padding: 5px;
}

#time-slider-button-panel {
    width: 20%;
    float: left;
    margin-top: 5px
}

#autoplay-button {
    float: left;
    width: 50%;
}

#stop-button {
    float: left;
    width: 50%;
}

#time-slider-container {
    float: left;
    height: 100%;
    width: 80%;
    overflow: auto;
}

#time-slider-bar {
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}

#sources-container {
    padding: 5px;
    font-size: 1.3vh;
    height: 10vh;
    line-height: 2.2vh;
}

/* LEGEND */

.tab-content h3 {
    margin-left: 10px;
}

/* LEGEND - FOREST PROPORTIONS */

#legend-marker-img-container {
    display: inline-block;
    position: relative;
    height: 120px;
    width: 40%;
    padding: 15px;
}

#legend-marker-img {
    position: absolute;
    left: 75px;
}

.legend-marker-img-text {
    position: absolute;
    width: 20px;
    height: 94px; /* height of marker image - never changes! */
    display: table;
}

#legend-marker-img-pine-text-container {
    left: 177px;
    width: 20px;
}

.legend-marker-img-text p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#legend-marker-description-container {
    display: inline-block;
    width: 58%; /* FIXME: popping this up to 50% breaks the styling, but for now it has no perceptible effect */
    height: 120px;
    overflow: hidden;
    text-align: center;
}

/* LEGEND - PERCENT PINE FOREST LOSS */

.threshold-patch {
    float: left;
    margin-left: 5px;
    height: 20px;
    width: 25px;
    border: 1px solid black;
}

.threshold-patch-label {
    float: left;
    margin-left: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    text-align: center;
    padding: 5px;
}

#threshold-patch-0 {
    color: #eeeeee;
    background-color: #eeeeee;
}

#threshold-patch-1 {
    color: #ffdddd;
    background-color: #ffdddd;
}

#threshold-patch-2 {
    color: #ff9999;
    background-color: #ff9999;
}

#threshold-patch-3 {
    color: #ff5555;
    background-color: #ff5555;
}

#threshold-patch-4 {
    color: #dd0000;
    background-color: #dd0000;
}

#threshold-patch-5 {
    color: #aa0000;
    background-color: #aa0000;
}

#threshold-patch-6 {
    color: #770000;
    background-color: #770000;
}

#legend-percent-loss-description {
    margin-top: 10px;
    text-align: center;
}

#time-slider-bar {
    z-index: 100;
}

#time-slider-bar .tick {
    margin-top: 20px;
    position: absolute;
    height: 100%;
    font-size: 1vh;
    background: none;
    border-top: none;
    border-left: 1px solid black;
    border-bottom: none;
    text-align: center;
}

/* PYRAMIDS */

#pyramid-title {
    font-weight: bold;
    text-align: center;
}

.pyramid-button-grid-container {
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.pyramid-button-grid-item {
    width: 90%;
    margin: 0 auto;
}

#left-pyramid-container {
    float: left;
    margin-left: 1%;
    width: 47%;
    height: 24vh;
    border: 2px solid rgba(102, 51, 153, 0.75);
}

#centre-pyramid-container {
    float: left;
    width: 4%;
    height: 24vh;
    border: 2px solid rgba(102, 51, 153, 0);
}

#right-pyramid-container {
    float: left;
    margin-right: 1%;
    width: 47%;
    height: 24vh;
    border: 2px solid rgba(227, 141, 19, 0.77);
}

#left-pyramid-tracker-container {
    border: 2px solid rgba(102, 51, 153, 0.75);
    float: left;
    margin-left: 1%;
    margin-bottom: 0.5vh;
    width: 47%;
    height: 8vh;
    overflow-y: auto;
}

#centre-pyramid-tracker-container {
    float: left;
    width: 4%;
    height: 8vh;
    overflow-y: auto;
    border: 2px solid rgba(102, 51, 153, 0);
}

#right-pyramid-tracker-container {
    float: left;
    width: 47%;
    margin-right: 1%;
    height: 8vh;
    overflow-y: auto;
    border: 2px solid rgba(227, 141, 19, 0.77);
    margin-bottom: 0.5vh;
}

/*#clear-left-pyramid {*/
    /*float: left;*/
/*}*/

/*#clear-left-pyramid {*/
    /*float: right;*/
/*}*/

.badge {
    margin: 2px;
}

.badge:hover {
    cursor: pointer;
    text-decoration: line-through;
}

.badge-left {
    background-color: rebeccapurple;
}

.badge-right {
    background-color: #e38d13;
}