body {

}

#map {
    height: 100vh;
    width: 100%;
}

.item-container {
    background-color: #d9f1ff;
    border: solid 2px #badaff;
    border-radius: 15px;
    margin-top: 0.5vh;
}

/*.map-control-checkbox {*/
    /*margin: 10px !important;*/
/*}*/

#time-slider-button-panel {
    margin-left: 1%;
    float: left;
}

#autoplay-button {
    width: 4vw;
    float:left;
    margin-top: 5px;
}

#stop-button {
    width: 4vw;
    float:left;
    margin-top: 5px;
}

#time-slider-bar {
    width: 37vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 2%;
}

#title-container {
    height: 7vh;
    text-align: center;
}

#title-text {
    font-size: 1.8vw;
    font-weight: bold;
    height: 100%;

}

#controls-container {
    height: 6vh;
}

.legend-item-container {
    height: 29vh;
}

#left-pyramid-container {
    height: 30vh;
    background-color: #4444aa;
}

#right-pyramid-container {
    height: 30vh;
    background-color: #aa4444;
}

#sources-container {
    padding: 5px;
    font-size: 1.3vh;
    height: 10vh;
}

#legend-marker-checkbox {
    float: left;
    margin-left: 10px;
}

#legend-threshold-checkbox {
    float: left;
    margin-left: 10px;
}

#legend-marker-title-text {
    float: left;
    margin-left: 10px;
    font-size: 2.5vh;
}

#legend-threshold-title-text {
    float: left;
    margin-left: 10px;
    font-size: 2.5vh;
}

#legend-marker-img {
    display: block;
    margin: 0 auto;
}

#legend-marker-img-text {
    font-size: 1.5vh;
    text-align: center;
    margin-top: 5px;
}

#legend-marker-nonpine-text {
    float: right;
    font-size: 1.5vh;
}

#legend-marker-pine-text {
    float: left;
    font-size: 1.5vh;
}

#legend-marker-description-text-container {
    height: 100%;
}

#legend-marker-description-text {
    float: left;
    font-size: 1.5vh;
}

.threshold-patch {
    float: left;
    font-size: 8.85pt;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 12px;
    height: 1.5vh;
    width: 20%;
    border: 1px solid black;
}

#threshold-patch-0 {
    color: #ffffff;
    background-color: #ffffff;
}

#threshold-patch-1 {
    color: #ffdddd;
    background-color: #ffdddd;
}

#threshold-patch-2 {
    color: #ff9999;
    background-color: #ff9999;
}

#threshold-patch-3 {
    color: #ff5555;
    background-color: #ff5555;
}

#threshold-patch-4 {
    color: #dd0000;
    background-color: #dd0000;
}

#threshold-patch-5 {
    color: #aa0000;
    background-color: #aa0000;
}

#threshold-patch-6 {
    color: #770000;
    background-color: #770000;
}

.threshold-patch-label {
    font-size: 1.5vh;
    margin-left: 10px;
    margin-top: 12px;
    height: 100%;
}

#legend-threshold-description-text {
    font-size: 1.5vh;
    text-align: center;
    width: 90%;
    margin-left: 4%;
}

#time-slider-bar {
    z-index: 100;
}

#time-slider-bar .tick {
    margin-top: 20px;
    position: absolute;
    height: 100%;
    font-size: 1vh;
    background: none;
    border-top: none;
    border-left: 1px solid black;
    border-bottom: none;
    text-align: center;
}

.badge:hover {
    cursor: pointer;
    text-decoration: line-through;
}

#left-pyramid-tracker-container {
    height: 8vh;
}

#right-pyramid-tracker-container {
    height: 8vh;
}

.pyramid-controls-container-left {
    float: right;
}

.pyramid-controls-container-right {
    float: left;
}